.wrapper {
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 600px;
	margin: 20px auto;
}

.poll, .createOption, .submitResponse {
	width: 600px;
}

.checkbox, .text, 
.createQuestion, .submitQuestion,
.viewResults, .responseButton {
	float: left;
}

.clear {
	clear: both;
}

.template {
	display: none;
}